name: Dependency Vulnerabilities

on:
  schedule:
    - cron: "0 0 * * 6"

jobs:
  dependency-vulnerabilities:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up JDK 24
        uses: actions/setup-java@v5
        with:
          java-version: '24'
          distribution: 'corretto'
          cache: 'maven'
      - name: Build with Maven
        run: mvn -B -DskipTests package
      - name: Dependency vulnerability check
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
        run: mvn -B org.owasp:dependency-check-maven:check -DnvdApiKey=$NVD_API_KEY -DnvdApiDelay=6000 -DnvdMaxRetryCount=10